*{
    margin: 0;
    padding: 0;
    background-color: #151c2c;
}
h1{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #F5F5F5;
}
.si-form{
    height: 400px;
    width: 700px;
    text-align: center;
    margin-top: 50px;
    margin-left: 420px;
    padding-top: 40px;
    font-size: 30px;
    color: #B0B0B0;
    /* background-color: #576689; */
    border: 4px solid #F5F5F5;
}
input[type="text"] {
  width: 300px; 
  height: 25px; 
  font-size: 16px; 
  padding: 8px; 
  border: 2px solid #B0B0B0;
}
input[type="submit"]{
    height: 50px;
    width: 150px;
    margin-top: 70px;
    background-color: #978080;
    border: 5px black solid;
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}