*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #6A6262;
    color: #E0D8DE;
}
h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.bmi-form{
    font-size: 30px;
    padding-top: 150px;
    padding-left: 500px;
    color: black;
}

input[type="text"] {
  width: 300px; 
  height: 25px; 
  font-size: 16px; 
  padding: 8px; 
}

input[type="submit"]{
    height: 50px;
    width: 150px;
    margin-top: 70px;
    margin-left: 150px;
    background-color: #4B3B47;
    border: 2px black solid;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.guidelines{
    width: 250px;
    border: 5px solid #3c1532;
    color: #151612;
    padding-left: 60px;
    margin-top: 25px;
  
}
h4{
    color: black;
    padding-left: 45px;
}